[submodule "projects/owlgrowth"]
	path = projects/owlgrowth
	url = https://github.com/owo-x-project/owlgrowth.git
	branch = main
[submodule "projects/owlknowledge"]
	path = projects/owlknowledge
	url = https://github.com/owo-x-project/owlknowledge.git
	branch = main
[submodule "projects/tessera"]
	path = projects/tessera
	url = https://github.com/owoDra/tessera.git
	branch = main
